<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'staff/doctors/doctor_nav.html'%}
{%include 'msg.html'%}
{%if 'roomid' in session%}
<section>
    <div class="table-container">
        <table>
            <tr>
                <th>Appointment ID</th>
                <th>Patient's ID</th>
                <th>Patient's name</th>
                <th>Patient's number</th>
                <th>Action</th>
            </tr>
            {%for row in rows%}
            <tr class="text-white">
                <td>{{row [0]}}</td>
                <td>{{row [1]}}</td>
                <td>{{row [2]}}</td>
                <td>{{row [3]}}</td>
                <td>
                    <a href="/treat/{{row [0]}}" class="btn btn-success">Treat</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</section>
{%else%}
<div class="center-display">
    <div class="admin-form">
        <form action="/room" method="post">
            <h3>Input room number below to show records</h3>
            <input type="number" required name="room">
            <button class="cta-btn">Submit</button>
        </form>
    </div>
</div>
{%endif%}
</body>
</html>