<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'staff/doctors/doctor_nav.html'%}
<div class="container">{%include 'msg.html'%}</div>
<section class="row">
    <div class="col-md-9 admin-form-special">
        {%for row in rows%}
        <form action="/treat/{{row [0]}}" method="post">
            <div class="col">
                <h3>Appointment Id</h3>
                <span class="form-control"><input type="hidden" name="appointment_id"
                                                  value="{{row [0]}}">{{row [0]}}</span>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h3>Patient ID</h3>
                    <span class="form-control"><input type="hidden" name="patient_id"
                                                      value="{{row [1]}}">{{row [1]}}</span>
                </div>
                <div class="col">
                    <h3>Patient name</h3>
                    <span class="form-control text-nowrap ">{{row [2]}}</span>
                </div>
                <div class="col">
                    <h3>Patient number</h3>
                    <span class="form-control ">{{row [3]}}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <textarea name="symptoms" class="form-control" cols="25" rows="10"
                              placeholder="Enter patient's symptoms here"></textarea>
                </div>
                <div class="col">
                    <textarea name="diagnosis" class="form-control" cols="25" rows="10"
                              placeholder="Enter Diagnosis here"></textarea>
                </div>
                <div class="col">
                    <textarea name="prescription" class="form-control" cols="25" rows="10"
                              placeholder="Enter prescription here"></textarea>
                </div>
                <div class="col">
                    <textarea name="tests" id="selectedValues" class=" form-control" cols="25" rows="10" readonly
                              placeholder="Select the tests done from the left panel"></textarea>
                </div>
            </div>
            <button class="cta-btn">Submit</button>
        </form>
        {%endfor%}
    </div>

    <div class="col-md-2">
        <div class="">
            <h3>Select the tests done below</h3><br>
            {%for row in tests%}
            <input type="checkbox" class="myCheckbox" value="{{row [1]}}" data-valuetwo="{{row [2]}}">
            <h3>{{row
                [1]}}</h3><br>
            {%endfor%}
        </div>
    </div>
</section>
<script>
    // Get all checkboxes by class
    var checkboxes = document.querySelectorAll('.myCheckbox');

    // Get the textarea to display selected values
    var textarea = document.getElementById('selectedValues');

    // Function to update textarea with selected values
    function updateTextarea() {
        var selectedValues = [];
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedValues.push(checkbox.value);
            }
        });
        textarea.value = selectedValues.join('\n');
    }

    // Attach event listeners to checkboxes
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            updateTextarea();
        });
    });
</script>

</body>
</html>