<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors portal</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- below is a javascript file,helps in interactivity -->
	<!-- jQuery and JS bundle w/ Popper.js -  Interactivity-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
{%include 'staff/doctors/doctor_nav.html'%}
<section class="container">
    {%include 'msg.html'%}
    <form action="/treated_patients" method="post">
        <label>Input patient ID or Treatment ID</label>
        <input type="text" class="form-control col-md-3"  name="id" required><br>
        <button class="btn btn-dark">Search</button>
        <a href="/treated_patients" class="btn btn-primary"> Reset</a>
    </form>
    <table class="table container">
        <tr>
            <th>Treatment ID</th>
            <th>Patient ID</th>
            <th>Symptoms</th>
            <th>Diagnosis</th>
            <th>Prescription</th>
        </tr>
        {%for row in rows%}
        <tr>
            <td>{{row [0]}}</td>
            <td>{{row [1]}}</td>
            <td><textarea readonly class="rounded" cols="17" rows="4">{{row [3]}}</textarea></td>
            <td><textarea readonly class="rounded" cols="17" rows="4">{{row [7]}}</textarea></td>
            <td><textarea readonly class="rounded" cols="17" rows="4">{{row [8]}}</textarea></td>
        </tr>
        {%endfor%}
    </table>
</section>
</body>
</html>