<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'staff/pharmacist/pharmacist_nav.html'%}
{%include 'msg.html'%}
<section class="row">
    <div class="col-md-4 admin-form-special ">
        <form action="/pharmacist" method="post">
            <h3 class="text-center">Input appointment id, patient id or name of patient to display their
                information</h3>
            <input type="text" required name="search_term">
            <input type="hidden" name="action" value="search">
            <button class="cta-btn">SEARCH</button>
        </form>
    </div>

    <div class="col-md-6 signup-form text-left">
        {%for row in rows%}
        <div class="row">
            <div class="col">
                <h3>Patient ID</h3>
                <span class="form-control">{{row [2]}}</span>
            </div>
            <div class="col">
                <h3>Patient name</h3>
                <span class="form-control">{{row [1]}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3>Diagnosis</h3>
                <textarea readonly cols="20" rows="10" class="form-control">{{row [3]}}</textarea>
            </div>
            <div class="col-md-6">
                <h3>Prescription</h3>
                <textarea readonly cols="20" rows="10" class="form-control">{{row [4]}}</textarea>
            </div>
        </div>
        <br>
        <div class="center-display">
            <div class="search-art-number">
                <form action="/pharmacist" , method="post">
                    <input type="hidden" value="{{row [0]}}" name="id">
                    <input type="hidden" value="{{row [5]}}" name="app_id">
                    <input type="hidden" name="action" value="update">
                    <button class="btn-success">Done prescribing</button>
                </form>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
</body>
</html>