
<header>
        <nav>
            <div class="logo">Orion HMS</div>
            <ul>
                <li><a href="/admin">Home</a></li>
                <li><a href="/client_management">Manage Clients</a></li>
                <li><a href="/staff_management/add">Manage Staff</a></li>
                <li><a href="/appointment_management">Appointments</a></li>
                <li><a href="/treatment_records">Treatment</a></li>
                <li><a href="/billing">Billing</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
</header>