
<header>
        <nav>
            <div class="logo">Orion HMS</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Manage Clients</a></li>
                <li><a href="/staff_management/add">Manage Staff</a></li>
                <li><a href="#">Appointments</a></li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
</header>