<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Appointments management</h3>
{%include 'msg.html'%}
<section>
    <div>
        <div class="center-display">
            <div class="admin-form">
                <form action="/search/appointment" method="post">
                    <input type="text" name="search_term" required
                           placeholder="Input Appointment ID, Patient ID or name">
                    <div class="button-container">
                        <button class="btn btn-success">Search</button>
                        <a href="/appointment_management" class="btn btn-primary">Display all</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="center-display">
            <br>
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Appointment ID</th>
                    <th>Patient ID</th>
                    <th>Patient name</th>
                    <th>Room ID</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
                {% for row in rows%}
                <tr class="text-white">
                    <td>{{row [0]}}</td>
                    <td>{{row [1]}}</td>
                    <td>{{row [5]}}</td>
                    <td>{{row [2]}}</td>
                    <td>{{row [4]}}</td>
                    <td>{{row [3]}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</section>

</body>
</html>