<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Billing records</h3>
{%include 'msg.html'%}
<section>
    <div>
        <div class="center-display">
            <div class="admin-form">
                <form action="/search/billing" method="post">
                    <input type="text" name="search_term" required
                           placeholder="Input Billing ID, patient name or cashier name">
                    <div class="button-container">
                        <button class="btn btn-success">Search</button>
                        <a href="/billing" class="btn btn-primary">Display all</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="center-display"><br></div>

        <div class="table-container">
            <table>
                <tr>
                    <th>Billing ID</th>
                    <th>Patient name</th>
                    <th>Appointment ID</th>
                    <th>Test & Cost</th>
                    <th>Total</th>
                    <th>Cashier Name</th>
                    <th>Date</th>
                </tr>
                {%for row in rows%}
                <tr class="text-white">
                    <td>{{row [0]}}</td>
                    <td>{{row [1]}}</td>
                    <td>{{row [2]}}</td>
                    <td><textarea name="" cols="15" rows="4" class="form-control" readonly>{{row [3]}}</textarea></td>
                    <td>KSH: {{row [4]}}</td>
                    <td>{{row [5]}}</td>
                    <td>{{row [6]}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</section>
</body>
</html>