<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Client management</h3>
{%include 'msg.html'%}
<section>

    <div>
        <div class="center-display">
            <div class="admin-form">
                <form action="/search/client" method="post">
                    <h3>. Search Patients .</h3>
                    <input type="text" name="search_term" required placeholder="Input Patient ID or name">
                    <div class="button-container">
                        <button class="btn-success">Search</button>
                        <a href="/client_management" class="btn btn-primary">Display all</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="center-display">
            <br>
        </div>
        <div>
            <div class="table-container">
                <table>
                    <tr>
                        <th>Patient ID</th>
                        <th>Fullname</th>
                        <th>Email address</th>
                        <th>Number</th>
                        <th>ID number</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Blood group</th>
                        <th>Status</th>
                    </tr>
                    {% for row in rows%}
                    <tr>
                        <td>{{row [0]}}</td>
                        <td>{{row [1]}}</td>
                        <td>{{row [2]}}</td>
                        <td>{{row [3]}}</td>
                        <td>{{row [4]}}</td>
                        <td>{{row [6]}}</td>
                        <td>{{row [7]}}</td>
                        <td>{{row [8]}}</td>
                        <td>{{row [9]}}</td>
                        <td>
                            <form action="/client_management" method="post">
                                <input type="hidden" value="{{row [0]}}" name="id">
                                {%if row[9] == 'Active'%}
                                <input type="hidden" name="status" value="Suspended">
                                <button class="cta-btn">Suspend</button>
                                {%elif row[9] == 'Suspended'%}
                                <input type="hidden" name="status" value="Active">
                                <button class="cta-btn">Activate</button>
                                {%endif%}
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>