<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Reports</h3>
<section>
    <div class="center-display">
        <div>
            <a href="/report/clients" class="btn btn-primary">Generate client Reports</a>
            <a href="/report/staff" class="btn btn-primary">Generate staff Reports</a>
            <a href="/report/appointments" class="btn btn-primary">Generate appointment Reports</a>
        </div>
    </div>
</section>

</body>
</html>