<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Staff management</h3>
{%include 'msg.html'%}
<section class="body-flex">
    <div class="search-art-number-special-no-backdrop">
        <h3>. Add Staff .</h3>
        <form action="/staff_management/add" method="post">
            <input type="text" required name="name" placeholder="Full Name">
            <input type="email" required name="email" placeholder="Email">
            <input type="number" required name="number" placeholder="number">
            <select name="category" id="" required>
                <option value="">Select category</option>
                <option value="Doctor">Doctor</option>
                <option value="Information desk">Information desk</option>
                <option value="Cashier">Cashier</option>
                <option value="Pharmacist">Pharmacist</option>
                <option value="Admin">Admin</option>
            </select>
            <button type="submit" class="btn-success">Hire</button>
        </form>

    </div>
    <div>
        <div class="center-display">
            <div class="admin-form">
                <form action="/search/staff" method="post">
                    <input type="text" name="search_term" required placeholder="Input Staff ID or name">
                    <div class="button-container">
                        <button class="btn btn-success">Search</button>
                        <a href="/staff_management/add" class="btn btn-primary">Display all</a></div>
            </div>
            </form>
        </div>
        <div>
            <br>
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Staff ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                {%for row in rows%}
                <tr class="text-white">
                    <form action="/staff_management/update" method="post">
                        <td><input type="hidden" value="{{row [0]}}" name="id">{{row [0]}}</td>
                        <td><input type="text" value="{{row [1]}}" name="name"></td>
                        <td><input type="text" value="{{row [2]}}" name="email"></td>
                        <td><input type="number" value="{{row [3]}}" name="number"></td>
                        <td>
                            <select name="category" class="form-control">
                                <option value="{{row [5]}}">{{row [5]}}</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Information desk">Information desk</option>
                                <option value="Cashier">Cashier</option>
                                <option value="Pharmacist">Pharmacist</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="cta-btn">Update</button>
                        </td>
                    </form>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</section>

</body>
</html>