<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'admin/admin_nav.html'%}
<h3>Treatment records</h3>
{%include 'msg.html'%}
<section>
    <div>
        <div class="center-display">
            <div class="admin-form">
                <form action="/search/treatment" method="post">
                    <input type="text" name="search_term" required placeholder="Input Treatment ID, Patient ID or name">
                    <div class="button-container">
                        <button class="btn btn-success">Search</button>
                        <a href="/treatment_records" class="btn btn-primary">Display all</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="center-display"><br></div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Treatment ID</th>
                    <th>Patient Name</th>
                    <th>Appointment ID</th>
                    <th>Symptoms</th>
                    <th>Diagnosis</th>
                    <th>Prescription</th>
                    <th>Test done</th>
                    <th>Doctor Name</th>
                </tr>
                {%for row in rows%}
                <tr class="text-white">
                    <td>{{row [0]}}</td>
                    <td>{{row [1]}}</td>
                    <td>{{row [2]}}</td>
                    <td><textarea name="" cols="10" rows="4" readonly>{{row [3]}}</textarea></td>
                    <td><textarea name="" cols="7" rows="2" readonly>{{row [4]}}</textarea></td>
                    <td><textarea name="" cols="7" rows="2" readonly>{{row [5]}}</textarea></td>
                    <td><textarea name="" cols="10" rows="4" readonly>{{row [6]}}</textarea></td>
                    <td>{{row [7]}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</section>

</body>
</html>