<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{% include 'msg.html'%}
<section class="body-flex">
    <div class="main">
        <div class="signin">
            <br>
            <h3>. Staff Sign In .</h3>
            <form action="/staff_login" method="post">
                <input type="email" required name="email" placeholder="Email">
                <input type="password" required name="password" placeholder="Password">
                <button type="submit" class="btn-success">Sign In</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
