<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashier</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<!-- jQuery and JS bundle w/ Popper.js -  Interactivity-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
<section class="row">
    <div class="col-md-3 signup-form text-left">
        <form action="/cashier" method="post">
            <p>Input appointment id, patient id or name of patient to display their information</p>
            <input type="text" required name="search_term" >
            <input type="hidden" name="action" value="search">
            <button class="cta-btn">SEARCH</button>
        </form>
    </div>
    <div class="signup-form col-md-6">
        {%for row in rows%}
        <form action="/cashier" method="post">
            <div class="row">
                <div class="col">
                    <label>Patient ID</label>
                    <span class="form-control"><input type="hidden" value="{{row [2]}}" name="patient_id">{{row [2]}}</span>
                </div>
                <div class="col">
                    <label>Patient name</label>
                    <span class="form-control">{{row [1]}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Tests done</label>
                    <textarea name="" cols="30" rows="10" class="rounded">{{row [0]}}</textarea>
                </div>
                <div class="col">
                    <label>Billing</label>
                    <textarea name="test_cost" id="selectedValues" cols="30" rows="10" class="rounded"></textarea>
                </div>
                <div class="col">
                    <label>Total</label>
                    <input type="number" class="form-control" value="" id="totalValue" name="total">
                </div>
            </div>
            <input type="hidden" value="{{row [4]}}" name="appointment_id">
            <input type="hidden" value="{{row [5]}}" name="treatment_id">
            <input type="hidden" name="action" value="clear">
            <button class="btn btn-dark">Clear patient</button>
            {%endfor%}
        </form>

    </div>
    <div class="col-md-3">
        <label>Select the tests done below to charge them</label><br>
        {%for row in tests%}
        <input type="checkbox" class="myCheckbox" value="{{row [1]}}= KSH: {{row [2]}}" data-valuetwo="{{row [2]}}"> <label>{{row [1]}}</label><br>
        {%endfor%}
    </div>
</section>
<script>
// Get all checkboxes by class
    var checkboxes = document.querySelectorAll('.myCheckbox');

    // Get the span to display the total value
    var totalValueBox = document.getElementById('totalValue');

    // Get the textarea to display selected values
    var textarea = document.getElementById('selectedValues');

    // Initialize total value
    var totalValue = 0;

    // Function to update total value
    function updateTotalValue() {
        totalValue = 0;
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                totalValue += parseInt(checkbox.getAttribute('data-valuetwo'));
            }
        });
        totalValueBox.value = totalValue;
    }

    // Function to update textarea with selected values
    function updateTextarea() {
        var selectedValues = [];
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedValues.push(checkbox.value);
            }
        });
        textarea.value = selectedValues.join('\n');
    }

    // Attach event listeners to checkboxes
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            updateTotalValue();
            updateTextarea();
        });
    });
</script>



</body>
</html>