<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'staff/cashier/cashier_nav.html'%}
<section>
    {%include 'msg.html'%}
    <div class="center-display">
        <div class="admin-form">
            <form action="/cleared" method="post">
                <h3>Input patient ID or name</h3>
                <input type="text" name=" search_term" required>
                <div class="button-container">
                    <button class="btn-success">Search</button>
                    <a href="/cleared" class="btn btn-primary"> Reset</a>
                </div>
            </form>
        </div>
    </div>
    <div class="center-display">
        <br>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>Patient ID</th>
                <th>Patient name</th>
                <th>Appointment ID</th>
                <th>Test(s) cost</th>
                <th>Total</th>
                <th>Discharge date</th>
            </tr>
            {%for row in rows%}
            <tr class="text-white">
                <td>{{row [0]}}</td>
                <td>{{row [5]}}</td>
                <td>{{row [1]}}</td>
                <td><textarea readonly class="rounded" cols="17" rows="3">{{row [2]}}</textarea></td>
                <td>{{row [3]}}</td>
                <td>{{row [4]}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</section>
</body>
</html>