<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
<div>
    {% include 'msg.html'%}
</div>
<div class="center-display">
    <div class="admin-form">
        <h3>Change password</h3>
        <form action="/password_change" method="post">
            <input type="password" required name="old_password" placeholder="Old password">
            <input type="password" required name="new_password" placeholder="New password">
            <input type="password" required name="repeat_password" placeholder="Repeat password">
            <button type="submit" class="cta-btn">Change password</button>
        </form>
    </div>
</div>
</body>
</html>
