<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'staff/reception/reception_nav.html'%}
<div>{% include 'msg.html'%}</div>
<section class="row">
    <div class="col-md-4 admin-form">
        <form action="/appointment_search" method="post">
            <h3>Input appointment id, patient id or name of patient to display their information</h3>
            <input type="text" required name="id">
            <button class="cta-btn">SEARCH</button>
        </form>
    </div>
    <div class="col-md-6 signup-form text-left">
        {%for row in rows%}
        <div class="row">
            <div class="col">
                <h3>Appointment ID</h3>
                <span class="form-control">{{row [0]}}</span>
            </div>
            <div class="col">
                <h3>Patient ID</h3>
                <span class="form-control">{{row [1]}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Patient's name</h3>
                <span class="form-control">{{row [7]}}</span>
            </div>

            <div class="col">
                <h3>Patient's number</h3>
                <span class="form-control">{{row [9]}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Patient's email</h3>
                <span class="form-control">{{row [8]}}</span>
            </div>

            <div class="col">
                <h3>Patient's id number</h3>
                <span class="form-control">{{row [10]}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Gender</h3>
                <span class="form-control">{{row [12]}}</span>
            </div>

            <div class="col">
                <h3>Blood group</h3>
                <span class="form-control">{{row [14]}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Date of birth</h3>
                <span class="form-control">{{row [13]}}</span>
            </div>

            <div class="col">
                <h3>Appointment time</h3>
                <span class="form-control">{{row [3]}}</span>
            </div>
        </div>
        <br>
        <div class="center-display">
            <div class="search-art-number-special-no-backdrop">
                <h3>Assign Room</h3>
                <form action="/assign_room/online/{{row [0]}}" , method="post">
                    <select name="room" id="">
                        <option value="">Room {{row [2]}}</option>
                        {%for row in rooms%}
                        <option value="{{row [0]}}">Room {{row [0]}}</option>
                        {%endfor%}
                    </select><br>
                    <button>Assign</button>
                </form>
            </div>
        </div>
        <br>
        {%endfor%}
    </div>
</section>

</body>
</html>