<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">

        <a class="navbar-brand" href='/'>
            <i class="fas fa-code"></i>Orion HMS
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/register_patient">Register patient</a></li>
                <li class="nav-item"><a class="nav-link" href="/appointment_search">Appointments</a></li>
                <li class="nav-item"><a class="nav-link" href="/walkins">Walk in patients</a></li>
                <li class="nav-item"><a class="nav-link" href="/appointment_information">Appointment information</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/logout_staff">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>