
<header>
        <nav>
            <div class="logo">Orion HMS</div>
            <ul>
                <li><a href="/reception">Home</a></li>
                <li><a href="/register_patient">Register patient</a></li>
                <li><a href="/appointment_search">Appointments</a></li>
                <li><a href="/walkins">Walk in patients</a></li>
                <li><a href="/appointment_information">Appointment information</a></li>
                <li><a href="/logout_staff">Logout</a></li>
            </ul>
        </nav>
</header>