<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
    <title>Appointments</title>
</head>
<body>
{%include 'patients/patient_nav.html'%}
<h3>Appointments</h3>
{%include 'msg.html'%}
<section>
    <div class="center-display">
        <div class="admin-form">
            <h3>Book appointment</h3>
            <form action="/appointments/view" method="post">
                <input type="datetime-local" id="selected_date" required name="time">
                <button type="submit" class="cta-btn">BOOK</button>
            </form>
        </div>
    </div>
    <div class="center-display">
        <br>

    </div>
    <div class="center-display">
        <div class="admin-form">
            <div class="table-container">
                <table>
                    <tr class="text-dark">
                        <th>Appointment ID</th>
                        <th>patient ID</th>
                        <th>Room Number</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    {%for row in rows%}
                    <tr class="text-white">
                        <td>{{row [0]}}</td>
                        <td>{{row [1]}}</td>
                        <td>{{row [2]}}</td>
                        <td>{{row [3]}}</td>
                        <td>{{row [4]}}</td>
                        <td>{{row [5]}}</td>
                        {% if row [5] == 'online'%}
                        {%if row[4] == 'Booked' %}
                        <td>
                            <form action="/appointments/cancel" method="post">
                                <input type="hidden" value="{{row [0]}}" name="id">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </form>
                        </td>
                        {%endif%}
                        {%else%}
                        <td>

                        </td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</section>

<!--Restrict date selection to today's date and onwards-->
<script>
    // Get the current date and time in ISO format (YYYY-MM-DDTHH:MM)
    const currentDateTime = new Date().toISOString().slice(0, 16);

    // Find the datetime-local input element by its id
    const datetimeInput = document.getElementById('selected_date');

    // Set the minimum attribute to the current date and time
    datetimeInput.min = currentDateTime;

</script>
</body>
</html>