<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'patients/patient_nav.html'%}
<h3>Billing records</h3>
{%include 'msg.html'%}
<section>
    <div class="center-display">
        <div class="admin-form">
            <div class="table-container">

                <table>
                    <tr class="text-dark">
                        <th>Billing ID</th>
                        <th>Appointment ID</th>
                        <th>Test & Cost</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                    {%for row in rows%}
                    <tr class="text-white">
                        <td>{{row [0]}}</td>
                        <td>{{row [2]}}</td>
                        <td><textarea name="" cols="15" rows="4" readonly>{{row [3]}}</textarea>
                        </td>
                        <td>KSH: {{row [4]}}</td>
                        <td>{{row [6]}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>