<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
<header>
    {% include 'patients/index_nav.html' %}
</header>
{% include 'msg.html' %}

<section class="body-flex">
    <div class="main">
        <div class="signin">
            <form action="/login" method="post">
                <br>
                <h3>. Sign In .</h3>
                <input type="email" required name="email" placeholder="Email" required>
                <input type="password" required name="password" placeholder="Password" required>
                <button type="submit" class="btn-success">Sign In</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
