<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html' %}
</head>
<body>
{%include 'patients/patient_nav.html'%}
<h3>Treatment records</h3>
{%include 'msg.html'%}
<section>
    <div class="center-display">
        <div class="admin-form">
            <div class="table-container">
                <table>
                    <tr class="">
                        <th>Treatment ID</th>
                        <th>Appointment ID</th>
                        <th>Symptoms</th>
                        <th>Diagnosis</th>
                        <th>Prescription</th>
                        <th>Test done</th>
                        <th>Date</th>
                    </tr>
                    {%for row in rows%}
                    <tr class="text-white">
                        <td>{{row [0]}}</td>
                        <td>{{row [2]}}</td>
                        <td><textarea name="" cols="10" rows="4" readonly>{{row [3]}}</textarea>
                        </td>
                        <td><textarea name="" cols="7" rows="2" readonly>{{row [7]}}</textarea>
                        </td>
                        <td><textarea name="" cols="7" rows="2" readonly>{{row [8]}}</textarea>
                        </td>
                        <td><textarea name="" cols="10" rows="4" readonly>{{row [9]}}</textarea>
                        </td>
                        <td>{{row [4]}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>